<footer class="footer" id="contacts">
   <div class="footer__container">
      <div class="footer__inner">
         <a href="#hero" class="footer__logo">
            <img src="./img/content/logos/footer.svg" alt="логотип компанії">
         </a>
         <nav class="footer__menu menu-footer">
            <ul class="menu-footer__pages">
               <li><a href="#">Про нас</a></li>
               <li><a href="#">Доставка та оплата</a></li>
               <li><a href="#">Контакти</a></li>
            </ul>
            <ul class="menu-footer__socials">
               <li><a href="#">
                     <svg class='icon-facebook' aria-hidden='true'>
                        <use href='./sprites/sprite.svg#icon-facebook'></use>
                     </svg>
                  </a></li>
               <li><a href="#">
                     <svg class='icon-instagram-fill' aria-hidden='true'>
                        <use href='./sprites/sprite.svg#icon-instagram-fill'></use>
                     </svg>
                  </a></li>
               <li><a href="#">
                     <svg class='icon-vk' aria-hidden='true'>
                        <use href='./sprites/sprite.svg#icon-vk'></use>
                     </svg>
                  </a></li>
            </ul>
         </nav>
         <ul class="footer__categories">
            <li><a href="#" class="">Піца</a></li>
            <li><a href="#" class="">Суші</a></li>
            <li><a href="#" class="">Роли</a></li>
            <li><a href="#" class="">Сети</a></li>
            <li><a href="#" class="">Wok</a></li>
            <li><a href="#" class="">Супи</a></li>
            <li><a href="#" class="">Салати</a></li>
            <li><a href="#" class="">Десерти</a></li>
            <li><a href="#" class="">Напої</a></li>
            <li><a href="#" class="">Акції</a></li>
         </ul>
         <div class="footer__info">
            <a class="footer__phone" href="tel:+0663169391">+ 066 316 9391</a>
            <p class="footer__time"><time datetime="10:00:00">10:00</time> до <time datetime="23:00:00">23:00</time></p>
         </div>
      </div>
      <p class="footer__copyright">© Рикша. Всі права захищені.</p>
   </div>
</footer>