<div class="modal-login _modal-wrapper" id="modal-login" >
   <div class="modal-login__body _modal-body">
      <div class="modal-login__content _modal-content" role="dialog" aria-modal="true" aria-hidden='true'>
         <button class="modal-login__close _close-modal" aria-label="Закрити вікно">
            <svg class='icon-close' aria-hidden='true'>
               <use href='./sprites/sprite.svg#icon-close'></use>
            </svg>
         </button>
         <p class="modal-login__title">Вхід до кабінету</p>
         <form action="#" class="modal-login__form">
            <div class="modal-login__input">
               <label for="login-tel" class="visually-hidden">Вкажіть номер телефону</label>
               <input type="text" placeholder="Телефон" id="login-tel">
            </div>
            <button class="modal-login__button button-main" type="submit">Отримати код</button>
         </form>
      </div>
   </div>
</div>


